<div class="h-screen flex flex-col items-center justify-center">

    <div class="lg:w-[1024px] mx-auto w-full lg:px-0 px-10">
        <div class="flex items-center justify-between gap-10">
            <div class="grow space-y-10">
                <div class="space-y-1.5">
                    <h5 class="text-2xl font-bold text-white">I'm Ayoub Marghad <span class="text-blue-400">Machine Learning</span></h5>
                    <h5 class="text-2xl font-bold text-white">and <span class="text-blue-400">software enginner</span></h5>
                </div>
                <div>
                    <p class="text-gray-200">I bring together back-end power and front-end finesse to build comprehensive digital solutions</p>
                </div>
                <div>
                    <button class="px-5 py-2 rounded text-white border border-current">Contact me !</button>
                </div>
            </div>
            <div class="shrink-0">
                <div class="size-[26rem] border">

                </div>
            </div>
        </div>
    </div>
</div>