<div class="bg-color-2 w-full h-full flex items-center justify-center z-[2000]">
    <div class="h-[61px] lg:w-[1024px] mx-auto w-full lg:px-0 px-10 flex items-center justify-between fixed top-0 bg-dark">
        <a href="/">
            <div class="h-full flex items-center justify-center gap-[8px] cursor-pointer">
                <div class="relative w-[28px] h-[28px] flex items-center justify-center"><img alt="" loading="lazy"
                        decoding="async" data-nimg="fill"
                        style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent"
                        src="./assets/Logo.svg"></div><span
                    class="font-semibold tracking-wider text-white capitalize text-color-0">Ayoub Marghad</span>
            </div>
        </a>
        <div class="links h-full sm:flex items-center justify-center gap-[32px] hidden ">
            <a href="/" class="group/navlink h-full flex items-center gap-1 justify-center cursor-pointer">
                <span class="transition font-medium text-blue-300 group-hover/navlink:text-blue-400">#</span>
                <span class="transition text-gray-300 group-hover/navlink:text-white">Home</span>
            </a>
            <a href="/" class="group/navlink h-full flex items-center gap-1 justify-center cursor-pointer">
                <span class="transition font-medium text-blue-300 group-hover/navlink:text-blue-400">#</span>
                <span class="transition text-gray-300 group-hover/navlink:text-white">Projects</span>
            </a>
            <a href="/" class="group/navlink h-full flex items-center gap-1 justify-center cursor-pointer">
                <span class="transition font-medium text-blue-300 group-hover/navlink:text-blue-400">#</span>
                <span class="transition text-gray-300 group-hover/navlink:text-white">About me</span>
            </a>
        </div>
        <div class="burger w-[24px] h-[24px] flex sm:hidden flex-col items-end cursor-pointer justify-center gap-[5px]">
            <div class="w-full h-[2px] bg-color-3"></div>
            <div class="w-[15px] h-[2px] bg-color-3"></div>
        </div>
    </div>
</div>